<div class="container-fluid no-gutter">
  <div class="row no-gutter">
    <div id="vodPreview" class="col-md-4 pr-0 pl-0">
    </div>
    <div class="col-md-8 pr-0 pl-0">
      <div id="videoPlayer" class="embed-responsive-16by9 float-left">
       <iframe id="nowPlayingPlayer" allowfullscreen=false autoplay=false width='800' height='600' name="nowPlayingPlayer"></iframe>
      </div>
    </div>
  </div>

</div>
</div>
