<div class=container">
  <div class="row">
    <div class="col-3 pr-0">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action d-flex active">
          <img src="images/thumb.png" class="w-25 img-fluid img-thumbnail float-left" />
          <div class="">&nbsp;</div><div class="justify-content-between align-self-center h5">Title</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex">
          <img src="images/thumb.png" class="w-25 img-fluid img-thumbnail float-left" />
          <div class="">&nbsp;</div><div class="justify-content-between align-self-center h5">Title</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex">
          <img src="images/thumb.png" class="w-25 img-fluid img-thumbnail float-left" />
          <div class="">&nbsp;</div><div class="justify-content-between align-self-center h5">Title</div>
        </a>
      </div>
    </div>
    <div class="col pl-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="videoFrame" class="embed-responsive-item" src="blob:https://mixer.com/7611cb7e-f097-4a7a-b7e6-c88abee1d6ff" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</div>
